{% extends "main.html" %}

{% block head %}

<script src="/static/js/listingform.js"></script>

{% endblock head %}

{% block content %}

<div class="py-4">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
    </div>
    <div class="mt-5 md:mt-0 md:col-span-1">
      <form action="/api/create-listing" method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">

            <div class="col-span-6 sm:col-span-3">
              <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
              <input type="text" name="title" id="title"
                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md shadow-md py-2 px-3"
                required>
            </div>

            <div>
              <label for="description" class="block text-sm font-medium text-gray-700">
                Description
              </label>
              <div class="mt-1">
                <textarea id="description" name="description" rows="3"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md shadow-md py-2 px-3"
                  required></textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">
                Some info about the part/issue
              </p>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="listing_type" class="block text-sm font-medium text-gray-700">Listing type</label>
              <select id="country" name="listing_type"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
                <option value="partsWanted">Parts wanted</option>
                <option value="partsAvailable">Parts available</option>
                <option value="skillsWanted">Skills wanted</option>
                <option value="skillsAvailable">Skills available</option>
              </select>
            </div>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
              class="inline-flex justify-center py-2 px-5 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Post
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-1"></div>
  </div>
</div>

{% endblock content %}